<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288252153368-u5tq2u84rpd6uo4nb23jdo8mark9qtvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288252153368-u5tq2u84rpd6uo4nb23jdo8mark9qtvq</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ5UKq9uomS58-mTpl4Oj-mI9b4jNThu8</string>
	<key>GCM_SENDER_ID</key>
	<string>288252153368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seowalex.ChopChop</string>
	<key>PROJECT_ID</key>
	<string>cs3217-chopchop</string>
	<key>STORAGE_BUCKET</key>
	<string>cs3217-chopchop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288252153368:ios:d963cb1aad85283438bd6d</string>
</dict>
</plist>